body > header {
  padding: 2rem 20%;
  background: var(--gradient-primary);
  width: 100vw;
}

body > header .row {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  color: var(--color-white);
}

body > header form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.8rem;
  margin-top: 4rem;
  width: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}

body > header form img {
  width: 24px;
  height: 24px;
}

body > header form button {
  display: flex;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}

body > header form input {
  color: var(--color-white);
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}

body > header form input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-white);
  opacity: 0.5;
}

main {
  padding: 10rem 20%;
  width: 100vw;
}

.post {
  padding: 2rem;
  background: var(--color-white);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
  color: var(--color-gray);
}

#posts .post + .post {
  margin-top: 5rem;
}

.post header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
}

.post header button {
  display: flex;
  outline: none;
  border: none;
  background: none;
}

.post > h1 {
  margin: 1rem 0 0.5rem 0;
  font-size: 2.6rem;
  font-weight: 400;
  color: var(--color-gray-dark);
}

.post > p {
  font-size: 1.8rem;
}

@media (max-width: 425px) {
  body > header {
    padding: 2rem 10%;
  }

  body > header form {
    padding: 1.2rem;
  }

  main {
    padding: 5rem 10%;
  }

  #posts .post + .post {
    margin-top: 2.5rem;
  }

  .post header {
    font-size: 1.4rem;
  }

  .post > h1 {
    font-size: 1.8rem;
  }

  .post > p {
    font-size: 1.4rem;
  }
}
